numpy
pandas

# Data visualization
matplotlib
seaborn

# Geospatial libraries
geopandas
shapely
rasterio

# Monitoring and logging
aim

# Optimisation libraries
optuna
plotly
kaleido

# Cupy and Cudf
cudf-cu12==25.10.*
cupy-cuda12x

