data_free: true
building: false
training:
  seed: 42
  epochs: 2000
  learning_rate: 0.0009697132005141631
  batch_size: 256
  lr_boundaries:
    '1200': 0.1
    '1600': 0.1
model:
  name: MLP
  output_dim: 3
  width: 1024
  depth: 4
domain:
  lx: 1200.0
  ly: 100.0
  t_final: 3600.0
sampling:
  n_points_pde: 68000  # (This is 48*23*21=23184, just cleaner)
  n_points_ic: 1800    # (This is 39*33=1287)
  n_points_bc_domain: 10000 # Total points for all 4 domain walls
  n_points_bc_building: 4000 # Total points for all 4 building walls (if applicable)
physics:
  u_const: 0.29
  n_manning: 0.03
  inflow: null
  g: 9.81
loss_weights:
  pde_weight: 928701.9132031311
  ic_weight: 1.0
  bc_weight: 9.136846851810708
  neg_h_weight: 0.5686111628161404
  data_weight: 0.0
gradnorm:
  learning_rate: 0.01
  enable: false
plotting:
  nx_val: 101
  t_const_val: 1800.0
  y_const_plot: 0
  plot_resolution: 150
device:
  dtype: float32
  early_stop_min_epochs: 4000
  early_stop_patience: 3000
numerics:
  eps: 1.0e-06
validation_grid:
  n_points_val: 42000
train_grid:
  n_points_train: 2000
CONFIG_PATH: optimisation/configs/hpo_mlp_datafree_static_NOBUILDING.yaml
